/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--default-font), sans-serif;
  font-variation-settings: 'wght' var(--text-font-wght);
  color: var(--text-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  max-inline-size: 700px;
  margin: 100px auto;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem)
    clamp(0rem, 11.268vw - 2.641rem, 7.5rem) 25px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 18px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s;
  text-transform: uppercase;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
  cursor: none;
}

.theme-menu__button:not([disabled]):hover {
  opacity: 0.6;
}

.theme-menu__button:not([disabled])::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  inset-inline-start: -1px;
  inset-block-end: -1px;
  background-color: var(--text-color);
  transform: scaleX(0);
  opacity: 1;
  transition:
    transform 0.3s,
    opacity 0.3s;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  opacity: 0.6;
}

.card {
  display: flex;
  flex-direction: column;
  max-inline-size: 700px;
  margin: 0 auto 50px;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-font-wght);
}

.card__images {
  position: relative;
  border-block-start: 2px solid var(--border-color);
  border-block-end: 2px solid var(--border-color);
  block-size: 100vw;
  max-block-size: 700px;
}

.card__images-lable {
  font-family: var(--accent-font);
  mix-blend-mode: hard-light;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  text-shadow: 1px var(--lable-shadow);
  opacity: 0.5;
  font-size: 14px;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--lable-shadow)) or
    (-webkit-text-stroke: 1px var(--lable-shadow))
) {
  
  .card__images-lable {
    -webkit-text-stroke: 1px var(--lable-shadow);
    text-stroke: 1px var(--lable-shadow);
    text-shadow: none;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 26px;
  font-size: 18px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__like-button {
  min-inline-size: 130px;
  max-block-size: 38px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: difference;
  color: var(--color-decor);
}

.button__style {
  padding: 7px 17px;
  border: 2px solid var(--border-color);
  position: relative;
}

.button__style::before {
  content: '';
  inset: 0;
  background-color: var(--bg-decor);
  transform: scaleX(0);
  position: absolute;
  transition: transform 0.5s;
  transform-origin: left;
}

.button__style:hover::before {
  transform: scaleX(1);
}

.button__style:focus {
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.card__icon-button {
  max-block-size: 38px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
}

.like-icon {
  block-size: 100%;
  inline-size: 100%;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.card__icon-button:hover .core {
  fill: var(--heart-contour);
}

.card__icon-button:hover .main-body {
  fill: var(--heart-contour);
  transition-delay: 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition-delay: 0.05s;
}

.contour {
  transition-duration: 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition-delay: 0.06s;
}

.footer__button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto 100px;
  min-inline-size: 337px;
  min-block-size: 55px;
  background-color: var(--bg-color);
}

.floppy {
  max-inline-size: 21px;
  max-block-size: 21px;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-decor);
}

.popup {
  max-inline-size: 360px;
  font-family: var(--accent-font);
  font-size: 14px;
  color: currentColor;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
  padding: 30px;
  line-height: 1.5;
  text-transform: uppercase;
}

.popup::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.popup[open] {
  display: grid;
}

.popup__button {
  grid-column: span 2;
  line-height: 0.9;
  text-transform: uppercase;
  margin-block-start: 9px;
  min-block-size: 38px;
}

.filter-blur {
  filter: blur(2px);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-hue {
  filter: hue-rotate(270deg);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-contrast-brightness {
  filter: contrast(75%) brightness(150%);
}

@media (width <= 375px) {

  .footer__button {
    flex-direction: column;
    min-block-size: 84px;
    min-inline-size: 310px;
    padding: 14px 17px;
  }

  .floppy {
    max-inline-size: 29px;
    max-block-size: 29px;
  }

  .popup {
    max-inline-size: 341px;
    padding: 30px 40px;
  }

  .card__images-lable {
    inset-block-start: 24px;
    inset-inline-end: 10px;
  }
}
